.fit-cover {
  object-fit: cover;
}

.btn2:hover {
}

.nav1:hover {
  color: white !important;
  border: none;
}

.nav1 {
  background: transparent !important;
  color: black !important;
  transition: 0.5s;
}

